<!--https://dribbble.com/shots/17873208-Kanban-Board-View-Turbo-->
<div id="app">
  <div id="main-sidebar">
    <div class="sidebar-top">
      <div class="sidebar-top-section">
        <div id="logo">LOGO</div>
        <div id="main-menu-button"></div>
      </div>
      <div id="sidebar-main-section">
        <div class="menu-buttons">
          <div><span class="material-symbols-outlined">
home
</span>Home
          </div>
          <div><span class="material-symbols-outlined">
check_circle
</span>My Tasks
          </div>
          <div><span class="material-symbols-outlined">
notifications
</span>Inbox
          </div>
        </div>
        <div class="title-section">Reporting</div>
        <div class="menu-buttons">
          <div><span class="material-symbols-outlined">
bar_chart
</span>Portfolios
          </div>
          <div><span class="material-symbols-outlined">
adjust
</span>Goals
          </div>
        </div>
      </div>

      <div id="favorite-section">
        <div class="title-section">Favorites</div>
        <!--        :TODO :COMPONENT create a component tag-element-color class-->
        <div class="tag-element-color">
          <span class="square-color-marker">
        </span>
          <div class="tagged-item">Recruitment weekly me</div>
        </div>
        <div class="tag-element-color"><span class="square-color-marker">
        </span>
          <div class="tagged-item">Website Launch</div>
        </div>

      </div>


    </div>
    <div id="bottom-section">

      <button>Invite teammates</button>
    </div>
  </div>
  <div id="main-container">
    <div id="main-navbar">
      <div class="sidebar-left-side">
        <div id="open-sidebar-button"></div>
        <div id="navbar-page-title">
          <div class="navbar-title-options">
            <div>Customer Stories - Q4</div>
            <div class="tag-element-color"><span class="square-color-marker"></span>
              <div class="tagged-item">On Track</div>
            </div>
          </div>
          <div>V</div>
          <div>I</div>
          <div>S</div>
        </div>
      </div>
      <div class="sidebar-right-side">
        <!--        :TODO :COMPONENT avatar component-->
        <!--          :TODO TASK create an object and iterate though for creating more avatars-->
        <div class="personas-list">
          <div *ngFor="let avatar of avatars" [ngStyle]="{'background':  avatar.color + ' url('+avatar.image+')'}"
               class="avatar">
            <!--          <img src="https://avatars.dicebear.com/api/micah/w.svg" alt="">-->
          </div>
        </div>
        <button>
          Share
        </button>
        <input placeholder="Search">
        <button>+</button>
        <div [ngStyle]="{'background':  'coral' + ' url('+'https://avatars.dicebear.com/api/micah/w.svg'+')'}"
             class="avatar">
        </div>
      </div>
    </div>
    <div id="main-menu">
      <div class="main-menu-wrapper">
        <div class="menu-buttons">
          <div class="menu-button">Overview</div>
          <div class="menu-button">List</div>
          <div class="menu-button">Board</div>
          <div class="menu-button">Timeline</div>
          <div class="menu-button">Calendar</div>
          <div class="menu-button">Dashboard</div>
          <div class="menu-button">More...</div>
        </div>
        <div class="action-buttons">
          <button>+ Add Chart</button>
        </div>
      </div>
    </div>
    <div id="action-bar">
      <div class="action-bar-wrapper">
        <div class="action-bar-left">
          <div class="action-notification">Created Yesterday</div>
        </div>
        <div class="action-buttons">
          <button>All Tasks</button>
          <button>Filter</button>
          <button>Sort</button>
          <button>Customize</button>
          <button>...</button>
        </div>
      </div>
    </div>
    <div id="kanban-section">
      <div class="kanban-column">
        <div class="kanban-top-section-wrapper">
          <div class="kanban-action-title">To do</div>
          <div class="kanban-action-section">
            <div>+</div>
            <div>...</div>
          </div>

        </div>
        <div class="card">
          <div class="card-title"><span></span>Contact Client for Outlin...</div>
          <div class="card-wrapper-bottom">

            <div class="avatar small"></div>
            <div class="card-action">
              <div>2</div>
              <div> ></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title"><span></span>Contact Client for Outlin...</div>
          <div class="card-wrapper-bottom">

            <div class="avatar small"></div>
            <div class="card-action">
              <div>2</div>
              <div> ></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title"><span></span>Contact Client for Outlin...</div>
          <div class="card-wrapper-bottom">

            <div class="avatar small"></div>
            <div class="card-action">
              <div>2</div>
              <div> ></div>
            </div>
          </div>
        </div>
        <div class="add-new-card">
          <div>+</div>
          <div>Add Task</div>
        </div>
      </div>

      <div class="kanban-column">
        <div>
          To do
        </div>
      </div>
      <div class="kanban-column">
        <div>
          To do
        </div>
      </div>
      <div class="kanban-column">
        <div>
          To do
        </div>
      </div>
    </div>

  </div>


</div>
